.catalog {
    // display: none;
    &__created {
        margin-top: 1.5rem;
        line-height: 1.5;
        text-align: center;
        z-index: 3;
    }
    
    &__leaves {
        position: absolute;
        top: 5rem;
        left: 10rem;
        width: 9rem;
        z-index: 2;
    }
    &__pointer {
        background: linear-gradient(to bottom, $green, $green_light);
        width: 10rem;
        height: 5rem;
        border-radius: 0 0 50% 50% / 0 0 100% 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &_arrows {
            display: flex;
            flex-direction: column;

            & > img {
                width: 1rem;
                margin-bottom: 0.3rem;
            }
        }
    }
    

    &__outer {
        margin: 2rem auto;
        width: 100%;
        min-height: 90vh;
        border-radius: .5rem;
        box-shadow: 0 0 5rem 0 rgba(25, 25, 25, 0.15);
        position: relative;
        padding-bottom: 3rem;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }

    &__unlocked {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $blue;
        color: $white;
        font-size: 1rem;
        padding: .6rem 2rem;
        border-radius: .2rem;
        transform: skewX(-5deg);
        margin: 1.5rem 0 .6rem; 
        
        & > img {
            width: 1rem;
            margin-right: 0.5rem;
        }
    }

    &__remark {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 3rem auto 0 auto;
        background: url(../img/background_remark.png) center center / cover no-repeat;
        padding: 2rem;
        border-radius: .6rem;

        &_title {
            text-align: center;
            margin-bottom: 1.5rem;
        }
        &_content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            
        }
        &_item {
            min-width: 10rem;
            padding-left: 2.3rem;
            position: relative;
            margin-bottom: 1.2rem;

            &::before {
                content: "";
                width: 1.7rem;
                height: 1.7rem;
                position: absolute;
                background: url(../icons/success_blue_icon.png);
                background-size: contain;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
            }
        }
        &_item:not(:last-child) {
            margin-right: 2rem;
        }
    }
    &__engineer {
        margin: 3rem auto 0 auto;
        width: 80%;
        overflow: hidden;
        position: relative;

        &_title {
            text-align: center;
            margin-bottom: 1.5rem;
        }

        &_wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            background: url(../img/background_engineer.png) center center / cover no-repeat;
            padding: 2rem 2rem 1.5rem 1.5rem;
            border-radius: .6rem;
        }
        &_left {
            width: 80%;
            position: relative;
            bottom: -3.6rem;
            margin-right: 1rem;
        }
        &_left > div {
            position: absolute;
            top: 2.5rem;
            right: 1rem;
        }
        &_left span {
            display: inline-block;
            margin-bottom: .4rem;
        }
        &_right {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        &_subtitle {
            text-align: center;
            margin-bottom: 1rem;
            font-size: 1.3rem;
        }
        &_list {
            text-align: left;
            margin-bottom: 3rem;

        }
        &_list > li:not(:last-child) {
            margin-bottom: 1rem;
            
            
        }
        &_list > li {
            padding: 0 3rem 0 6rem;
            position: relative;
        }
        &_list > li::before {
            content: "";
            width: 2rem;
            height: 2rem;
            position: absolute;
            background: url(../icons/success_icon1.png);
            background-size: contain;
            top: 50%;
            transform: translateY(-50%);
            left: 3.5rem;
            
        }
        &_form {
            width: 100%;

        }
        &_form .label {
            padding: .6rem 1.5rem;
            position: absolute;
            top: -1rem;
            left: 8rem;
        }
    }
    
    &__photos {
        position: relative;
        margin: 3rem auto 0 auto;
        width: 80%;

        &_title {
            text-align: center;
            margin-bottom: 1.5rem;
        }
        &_descr {
            text-align: center;
            margin-bottom: 1.5rem;
        }
        &_gallery {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            & > a {
                width: 16rem;
                margin: 1.5rem;
            }
        }
        &_btn {
            display: block;
            margin: 0 auto 2rem auto;
            width: 60%;
            position: relative;

        }
        &_arrow {
            position: absolute;
            bottom: 5rem;
            right: 2rem;
            width: 8rem;
        }
        &_smile {
            position: relative;
            margin: 0 auto;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            
            & > img {
                width: 2rem;

            }
        }
    }

    &__tabs {
        width: 100%;
        &_title {
            margin: 1.5rem 0;
            text-align: center;
        }
        &_switchers {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;

        }
        &_wrapper {
            display: none;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            &.active {
                display: flex;
            }
        }
        &_item {
            width: 16rem;
            margin: 1.5rem;
        }
        &_notice {
            font-size: 1rem;
        }
        
    }

    &__knocking {
        overflow: hidden;
        position: relative;
        height: 25rem;
        margin-top: -5rem;
        
        
        & .layout {
            border-radius: .5rem;
            position: absolute;
            width: 100%;
            height: 100%;
            background: $black;
            opacity: .5;
            z-index: 9;
        }
    }
    &__knocking .catalog__outer {
        background: url(../img/background_catalog.png) center center / cover no-repeat;
        margin: 0 auto;
        cursor: no-drop;
        // top: 0;
        transition: .2s linear;
        width: 100%;
        animation: knock 2s infinite ;
        transform-origin: center top;
    }
}
.tabs__switch {
    width: 47%;
    padding: 1.5rem 1rem;
    border-radius: .5rem;
    color: $white;
    font-size: 1rem;
    background-color: rgba(#1d89c9, .6);
    transition: all .4s;
}
.tabs__switch:hover {
    box-shadow: 0 1rem 1.5rem 0 rgba(#1d89c9, .25), inset 0 0 2.5rem 0 rgba(#1d89c9, .71);
    background-color: rgba(#1d89c9, .8);
}
.active.tabs__switch {
    box-shadow: 0 1rem 1.5rem 0 rgba(4, 179, 25, .25), inset 0 0 2.5rem 0 rgba(151, 215, 146, .71);
    background-image: linear-gradient(90deg, $green 0%, $green_light 50%, $green 100%);
}


@media (max-width: 992px) {
	.catalog {
        padding: 0;

        &__outer {
            margin: 0;
            width: 100%;
        }
        &__engineer {
            &_left {
                bottom: -5.2rem;
            }
        }
        &__knocking {
            margin-top: 0;
        }
        &__knocking .catalog__outer {
            background: url(../img/background_catalog1.png) center center / cover no-repeat;
            margin: 0 auto;
        }
        
    }
    
    .catalog .container {
        max-width: 100%;
    }
    .tabs__switch {
        font-size: .8rem;
    }
    

}
@media (max-width: 786px) {
	.catalog {
        &__knocking {
            height: 26rem;
        }
        &__inner {
            width: 100%;
            padding: 0 3% 1rem;
        }
        &__remark {
            &_title br {
                display: none;
            }
            &_content {
                padding-left: 20%;
                justify-content: flex-start;
            }
        }
        &__engineer {
            &_title br {
                display: none;
            }
            &_list {
                font-size: 1rem;
            }
            &_form {
                margin: 24rem auto 0 auto;
                width: 80%;

            }
            &_left {
                position: absolute;
                left: 50%;
                width: 20rem;
                top: 19rem;
                transform: translateX(-50%);
            }
        }
        &__tabs {
            
            &_notice {
                font-size: 0.8rem;
            }
            
        }
        &__photos {
            
            &_btn {
                font-size: 0.8rem;
            }
            &_title br{
                display: none;
            }
            &_arrow {
                display: none;
            }
            &_smile::before {
                left: 34%;
            }
        }

    }
    .card {
        &__tech,
        &__links {
            font-size: 0.8rem;   
        }
    }
    .tabs__switch {
        width: 49%;
        padding: 1rem;
    }
    
}
@media (max-width: 576px) {
	.catalog {
        &__pointer {
            width: 8rem;
            height: 4rem;
        }
        
        &__engineer {
            width: 100%;
            &_wrapper {
                padding: 2rem 1rem;
            }
            &_form {
                margin: 20rem auto 0 auto;
                width: 80%;

            }
            &_left {
                position: absolute;
                left: 50%;
                width: 18rem;
                top: 18rem;
                transform: translateX(-50%);

                & > div {
                    top: 1.5rem;
                    right: -2rem;
                }
            }
        }
        &__photos {
            
            
            &_smile::before {
                left: 28%;
            }
        }
        &__knocking {
            height: 27rem;
        }
        &__knocking .catalog__outer {
            background: url(../img/background_catalog2.png) center center / cover no-repeat;
        }
        
    }
    
    
}
@media (max-width: 420px) {
	.catalog {
        &__knocking {
            height: 28rem;
        }
        &__engineer {
            
            &_form {
                margin: 20rem auto 0 auto;
                width: 100%;

            }
            &_left {
                width: 16rem;
                top: 23rem;
                transform: translateX(-50%);
            }
        }
        
    }
    
}