.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background: rgba($white, .5);
    background-size: cover;
    width: 100%;
    z-index: 45;
    padding: 1.2rem 0;
	transition: all 0.4s;

	&__mobile {
		display: none;
		text-decoration: underline;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		overflow: hidden;
	}

	&__content {
		&_center {
			text-align: center;
		}
		&_right {
			opacity: 0;
		}
		& > a {
			color: $green;
		}
		& > a:hover {
			text-decoration: underline;
		}
	
	}

	&__circle {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translate(-50%, -45%) rotate(0);
		transition: all 0.4s; 
		background: transparent;

		&:hover {
			opacity: 0.75;
		}

		& img {
			width: 2.3rem;
		}
	}

}
  
.footer.hidden {
    background: transparent;
	transform: translateY(65%);
}

.hidden .footer__circle {
	transform: translate(-50%, -45%) rotate(180deg);
}
.hidden .footer__wrapper {
	opacity: 0;
}


  

@media (max-width: 992px) {
	
    .footer {
		&__circle,
		&__wrapper {
			display: none;
		}
		&__mobile {
			position: fixed;
			bottom: 0;
			left: 0;
			display: flex;
			background-color: transparent;
			justify-content: space-between;
			width: 100%;
			height: 5rem;
			&_download {
				background: rgba($dark_grey, .9);
			}
			&_whatsapp {
				background: rgba($grey, .9);
				
			}
			&_img1 {
				width: 2.7rem;
			}
			&_img2 {
				width: 1.9rem;
			}
		}
		&__mobile > * {
			color: $black;
			width: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			padding-left: 1rem;
		}
		
	}
    
}
@media (max-width: 576px) {
	.footer {
		
		&__mobile {
			font-size: 10px;
		}
		&__mobile > div > img {
			width: 1.6rem;
		}

		&__mobile_download > span {
			font-size: 0.8rem;
		}
	}
	
}
  