.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &__mobile {
        display: none;
        justify-content: space-between;
        align-items: center;
    }

    &__mobile_close {
        display: none;
        font-size: 4rem;
        position: absolute;
        top: 0;
        right: 1.5rem;
        cursor: pointer;
    }

    &__logo {
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        margin-right: 2rem;
        &_img {
            width: 4.8rem;
            height: auto;
            margin-right: 1.5rem;
        }
        
    }

    &__yandex_img {
        width: 10rem;
        height: auto;
        margin-right: 3rem;

    }

    &__whatsapp {
        display: flex;
        align-items: center;
        font-size: 0.8rem;

        &_btn {
            // line-height: 1.1;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.6rem;
            margin-right: 1rem;
        }
        &_circle {
            position: absolute;
            right: 0;
            transform: translateX(50%);
        }            
        
        &_btn > * {
            display: inline-block;
        }
        &_btn > img {
            width: 1rem;
            height: auto;

        }
    }
    &__whatsapp a {
        color: $black;
    }

    &__contacts {
        
        &_descr {
            font-size: 0.8rem;
            position: relative;
            padding-left: .9rem;
            
        }
        &_circle {
            position: absolute;
            left: 0;
            top: 25%;
            // transform: translateX(-50%);
        } 
        &_phone {
            text-align: right;
            font-size: 1.3rem;
        }
        &_phone > a {
            
            color: $black;
            transition: all .3s;
        }
        &_phone > a:hover {
            text-decoration: underline;
        }
    }
    
}

.burger {
    display: none;
    // min-width: 8rem;
    justify-content: space-between;
	width: 2.5rem;
    height: 2.2rem;
    right: 0;
    position: relative;
	background-color: transparent;
    cursor: pointer;

    & > .span {
        display: block;
        width: 100%;
        height: .4rem;
        position: relative;
        background-color: $black;
    }
    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: .4rem;
        left: 0;
        bottom: 0;
        background-color: $black;
    }
    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: .4rem;
        left: 0;
        top: 42%;
        background-color: $black;
    }
}

@media (max-width: 992px) {
	
    .header {
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
		margin-top: 0;
		
		top: 0;
        left: 0;
		background: $grey;
		min-height: 100vh;
		width: 100vw;
		padding: 3rem 3rem 6rem;
		z-index: 5;
        transform: translateX(-110%);
        transition: all .4s;

        &__mobile_close {
            display: block;
        }
        &__mobile {
            display: flex;
        }
    }
    .header > * {
        margin-bottom: 10vh;
    }

    header.mobile {
        & .header {
            transform: translateX(0);
            &__logo {
                
                text-align: center;
                flex-direction: column;
                align-items: center;
                margin-right: 0;
                &_img {
                    width: 5.8rem;
                    margin-right: 0;
                    margin-bottom: 1rem;
                }
                &_text {
                    font-size: .9rem;
                }
            }
            &__yandex_img {
                width: 11rem;
                margin-right: 0;
            }
            &__whatsapp_btn {
                font-size: 0.8rem;
            }
            &__contacts_descr {
                font-size: .9rem;
                margin-bottom: .4rem;
            }
            &__contacts_phone {
                text-align: center;
                font-size: 1.5rem;
            }
            &__contacts_circle {
                top: 34%;
            }
        }
        & .btn-small {
            width: 8rem;
            height: 3rem;
        }
    }

    
    .burger {
        display: flex;
        align-self: center;
    }
}
@media (max-width: 576px) {
	
    .header {
        &__logo {
    
            &_img {
                height: auto;
            }
            &_text {
                font-size: 0.8rem;
            }
        }
    
        &__yandex_img {
            width: 10rem;
            height: auto;
        }

    }
    .header > * {
        margin-bottom: 1.5rem;
    }
    
    .header__mobile {
        & .header__logo  {
            width: 82%;
            margin-right: 0;
            
        }
        & .header__logo > a  {
            margin-right: 0.7rem;
        }
    }
    
}
@media (max-width: 420px) {
    .header__mobile {
        
       
        & .header__logo > a  {
            margin-right: 0.7rem;
        }
    }
    
}