.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &__mobile {
        display: none;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }

    &__mobile_close {
        display: none;
        font-size: 4rem;
        position: absolute;
        top: 0;
        right: 1.5rem;
        cursor: pointer;
    }

    &__logo {
        display: flex;
        align-items: center;

        &_img {
            width: 6.8rem;
            height: auto;
        }
    }

    &__yandex_img {
        width: 11rem;
        height: auto;
    }

    &__whatsapp {
        display: flex;
        align-items: center;

        &_btn {
            text-align: left;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &_circle {
            position: absolute;
            right: 0;
            transform: translateX(50%);
        }            
        
        &_btn > * {
            display: inline-block;
        }
        &_btn > img {
            width: 1.1rem;
            height: auto;

        }
    }
    &__whatsapp a {
        color: $black;
    }

    &__contacts {
        &_descr {
            position: relative;
            padding-left: .9rem;
            
        }
        &_circle {
            position: absolute;
            left: 0;
            top: 25%;
            // transform: translateX(-50%);
        } 
        &_phone > a {
            color: $black;
            transition: all .3s;
        }
        &_phone > a:hover {
            text-decoration: underline;
        }
    }
    
}

@media (max-width: 992px) {
	
    .header {
        flex-direction: column;
        justify-content: center;
        position: fixed;
		margin-top: 0;
		
		top: 0;
        left: 0;
		background: #fff;
		height: 100vh;
		width: 100vw;
		padding: 3rem 3rem 6rem;
		z-index: 5;
        transform: translateX(-110%);
        transition: all .4s;

        &__mobile_close {
            display: block;
        }
        &__mobile {
            display: flex;
        }
    }
    .header > * {
        margin-bottom: 2.5rem;
    }
    header.mobile .header {
        transform: translateX(0);
    }
}
@media (max-width: 576px) {
	
    .header {
        &__logo {
    
            &_img {
                width: 5.8rem;
                height: auto;
            }
            &_text {
                font-size: 0.8rem;
            }
        }
    
        &__yandex_img {
            width: 10rem;
            height: auto;
        }

    }
    .header > * {
        margin-bottom: 1.5rem;
    }
    .header__mobile .header__logo {
        width: 50%;
        flex-direction: column;
        // align-items: flex-start;
    }
    .header__mobile .header__logo > *:first-child {
        align-self: center;
        margin-bottom: 1rem;
    }
    .header__mobile .header__logo_text br {
        display: none;
    }

}