.loading {
    // display: none;
    padding: 3rem;
    &__leaves {
        position: absolute;
        top: -1.4rem;
        left: -2.5rem;
        width: 9rem;
        z-index: 2;
    }
    &__outer {
        margin: 2rem auto;
        width: 100%;
        min-height: 90vh;
        border-radius: .5rem;
        box-shadow: 0 0 5rem 0 rgba(25, 25, 25, 0.15);
        position: relative;
        display: flex;
        justify-content: flex-end;
    }
    &__scoreboard {
        width: 8%;
        min-height: 100%;
        border-radius: 0 .5rem .5rem 0;
        background-image: linear-gradient(to bottom, #53bded, #0581ca);
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
        align-items: center;
        position: relative;
        z-index: 2;
        
    }

    &__inner {
        display: flex;
        align-items: flex-end;
        // position: relative;
        margin-top: .5rem;

        &::before {
            content: "";
            width: 7rem;
            height: 3.1rem;
            position: absolute;
            background: url(../icons/dashed_arrow_up_icon.png);
            background-size: contain;
            bottom: 24%;
            left: 36%;
            transform: rotate(-65deg);
        }
        &::after {
            content: "";
            width: 7rem;
            height: 4.2rem;
            position: absolute;
            background: url(../icons/dashed_arrow_down_icon.png);
            background-size: contain;
            bottom: 41%;
            left: 41%;
            transform: rotate(201deg);
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-width: 55%;
        &_wrapper {
            width: 92%;
            min-height: 90vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 2rem 1rem 2rem calc(8% + 1rem); 
            // text-align: center;
        }
        &_pseudo-btn {
            display: inline-block;
            background-color: $blue;
            color: $white;
            padding: .4rem 1.5rem;
            border-radius: .2rem;
            transform: skewX(-5deg);
            margin-bottom: .5rem;
            font-size: .8rem;
        }
        &_gifts {
            width: 24rem;
            font-size: .8rem;
            border-radius: .5rem;
            background: #fff;
            box-shadow: 0 0 2rem 0 $dark_grey;
            padding: .5rem;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            
            &:before {
                content: '';
                position: absolute;
                background: #fff;
                box-shadow: 0 0 2rem 0 $dark_grey;
                right: 20%;
                top: -.4rem;
                width: .8rem;
                height: .8rem;
                transform: rotate(45deg);
            }
        }
        &_gifts > div:first-child {
            width: 3rem;
            padding: .8rem;
            transform: rotate(-90deg);
            font-size: 1rem;
        }
        
        &_gifts img {
            width: 95%;
        }
        &_gifts > div:not(:first-child) {
            padding: 0 .3rem;
            width: 6rem;
        }
        &_gifts > div:last-child {
            width: 33%;
            // font-size: .7rem;
        }
    }

    &__picture {
        position: absolute;
        bottom: -2.3rem;
        right: calc(-8% - 1rem );
        &-small > img:first-child {
            position: absolute;
            width: 7rem;
            top: 8rem;
            right: 12rem;
        }
        &-small > img:last-child {
            position: absolute;
            width: 6rem;
            top: 8.5rem;
            right: 12.5rem;
            animation: rotate 10s infinite linear;
        }
    }
    &__picture > img {
        max-width: 34rem;
    }

    &__loader {
        
       
        &_img {
            width: 4rem;
            animation: rotate 3s infinite linear;
        }
        
    }
    
    
    
}

@media (max-width: 992px) {
	.loading {
        padding: 0;

        &__leaves {
             display: none;
        }
        &__outer {
            margin: 0;
            width: 100%;
            min-height: 100vh;
        }
        &__inner {
            &::before,
            &::after {
                display: none;
            }
        }
        &__content {
            &_wrapper {
                width: 100%;
                min-height: 100vh;

            }
        }
    }
    .loading .container {
        max-width: 100%;
    }

}
@media (max-width: 786px) {
	.loading {
        &__outer {
            flex-direction: column;
            margin: 0;
        }
        &__scoreboard {
            display: none;
        }
        &__picture {
            width: 20rem;
            height: 23rem;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 4rem;

            &-small > img:first-child {
                width: 5rem;
                top: 5rem;
                right: 5rem;
            }
            &-small > img:last-child {
                width: 4rem;
                top: 5.5rem;
                right: 5.5rem;
            }
        }
        &__content {
            align-items: center;

            &_wrapper {
                padding: 1.5rem 5%;

            }
        }
    }

}


