.main {
    margin-top: 5rem;

    &__septic {
        position: absolute;
        bottom: -3rem;
        right: 9rem;
        width: 29rem;
        height: auto;
    }

    &__title {
        margin: 1.2rem 0 2.5rem;
    }

    &__bullets {
        display: flex;
        justify-content: start;
        font-size: 1rem;
        
    }

    &__bullet {
        display: flex;
        align-items: center;
        position: relative;


        &:not(:last-child) {
            margin-right: 2rem;
        }

        & > img {
            height: auto;
            margin-right: .8rem;
            
        }
        &_img1 {
            width: 6rem;
            position: relative;
        }
        &_img2 {
            width: 5rem;
            position: relative;
        }
        &_img3 {
            position: absolute;
            width: 4rem;
            left: .5rem;
            animation: rotate 10s infinite linear;
        }

    }

    &__bottom {
        margin-top: 1.5rem;
        display: flex;
        justify-content: start;
        align-items: center;
        position: relative;

        &_img1 {
            margin-left: -4rem;
            margin-top: 2.3rem;
            width: 10rem;
            height: auto;
            z-index: 3;
        }
        &_img2 {
            margin-left: -4rem;
            width: 5rem;
            height: 3.5rem;
        }
        &_text {
            align-self: center;
            margin-left: -.5rem;
            
        }
        

        &_pseudo {
            position: absolute;
            bottom: -.8rem;
            left: 3rem;
            z-index: 3;
            font-size: 1rem;
            
        }
        
    }
    &__btn_large {
        padding-right: 2.5rem;
        font-size: 1rem;
    }
    &__btn_large br{
        display: none;
    }

    &__button {
        &_wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        &_arrows {
            position: absolute;
            z-index: 3;
            &-right {
                
                left: 2.1rem;
            }
            &-left {
                right: 4.5rem;
            }
            // & img {
            //     width: .5rem;
            // }
        }
    }

}

@media (max-width: 992px) {
	.main {
        margin-top: 3rem;
        
    
        &__septic {
            right: 3rem;
            width: 22rem;
        }
        &__bottom {
            &_img2,
            &_text {
                
                position: absolute;
                bottom: -65%;
                
            }
            &_img2 {
                width: 4.5rem;
                height: 3rem;
                left: 20%;
                bottom: -65%;
            }
            &_text {
                left: 22%;
                bottom: -55%;

                
            }
        }
        &__bullet {
            &_img1 {
                width: 5rem;
            }
            &_img2 {
                width: 4rem;
            }
            &_img3 {
                width: 3.3rem;
            }
            
        }
    }        
}

@media (max-width: 768px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            text-align: center;
        }
    
        &__septic {
            bottom: 7.5rem;
            left: 50%;
            transform: translateX(-50%);
            width: 21rem;
            z-index: 0;
        }
        &__bottom {
            margin-top: 20rem;
            
            &_img2 {
                left: 30%;
            }
            &_text {
                left: 33%;
            }
        }
            
    }        
}
@media (max-width: 576px) {
    .main {
        margin-top: 2rem;
        
        &__title > br {
            display: none;
            
        }
        &__bullets  {
            font-size: 12px;
        }
        &__bullets br {
            display: none;
        }

        &__bullet > img {
            margin-right: .5rem;
        }
        &__bullet_img3 {
            left: .4rem;
        }

        &__btn_large {
            padding-right: 0;
            line-height: 1.4;
        }
        &__btn_large br{
            display: block;
        }
        &__bottom {
            margin-top: 20.5rem;
            &_pseudo {
                font-size: 12px;
                left: 20%;
            }
            &_img1 {
                width: 8rem;
                position: absolute;
                right: -3%;
                top: -54%;
            }
            &_img2 {
                left: 35%;
                bottom: -4rem;
            }
            &_text {
                bottom: -3.5rem;
                left: 40%;
            }
        }
        &__button {
            &_arrows {
                &-right {
                    left: 2.5rem;
                }
                &-left {
                    right: 2.5rem;
                }
            }
        }
    }
}

// @media (max-width: 420px) {
//     .main {
//         &__bottom {
//             &_pseudo {
                
//                 left: 10%;
//             }
//         }
//     }
// }