.main__screen {
    background: url(../img/background2.png) center center / cover no-repeat;
	width: 100%;
    min-height: 100vh;
    padding: 1.5rem 0 4rem;
    position: relative;
    overflow: hidden;
    // display: none;
}


// @media (max-width: 992px) {
// 	.main__screen {
//         padding-bottom: 3rem;
//     }
    
    // header.mobile .menu,
    // header.mobile .burger {
    //     display: none;
    // }
// }

// @media (max-width: 768px) {
	
//     .main__screen {
//         padding-bottom: 9rem;
//     }
// }
