.quiz {
    // display: none;
    &__basic {
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        justify-content: flex-end;
        position: relative;
    }

    &__main {
        width: 90%;
        min-height: 90vh;
        border-radius: .5rem;
        box-shadow: 0 0 5rem 0 rgba(25, 25, 25, 0.15);
        position: relative;
        display: flex;
        justify-content: flex-end;
    }
    &__scoreboard {
        width: 9%;
        height: 100%;
        border-radius: 0 .5rem .5rem 0;
        background-image: linear-gradient(to bottom, #53bded, #0581ca);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 1rem;
    }
    &__score {
        letter-spacing: .2rem;
        margin: 1rem 0;
        &_wrapper {
            color: $white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        &_title {
            text-transform: uppercase;
        }
    }
    &__content5 {
        display: none;
    }
    &__content2 {
        display: none;
    }
    &__content3 {
        display: none;
    }
    &__content4 {
        display: none;
    }
    &__content6 {
        display: none;
    }
    

    &__content {
        &_wrapper {
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 3rem 6rem 2rem 4rem;
        }
        &_title {
            &-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 2.5rem;
            }
            &-count {
                background-color: #49baec;
                padding: .4rem 1rem;
                border-radius: .2rem;
                transform: skewX(-5deg);
                color: #fff;
                margin-right: 1rem;
            }
        }
        &_selects {
            &-wrapper {
                display: flex;
                justify-content: space-between;
            }

        }
        &_gift {
            width: 35%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            &-wrapper {
                width: 100%;
                min-height: 17rem;
                background: $grey;
                border: .15rem dashed $green; 
                border-radius: .3rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 2rem 1rem 1rem;
                margin-bottom: .5rem;
                position: relative;
            }
            &-wrapper > *:not(:last-child) {
                margin-bottom: .5rem;
            }
            &-wrapper > :first-child {
                margin-bottom: 1rem;
            }
            &-wrapper > img {
                width: 80%;
                height: auto;
            }
            &-bottom {
                text-decoration: underline;
            }
            &-stickers {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                position: absolute;
                top: .5rem;
                left: -2rem;
                color: $white;
            }
            
        }
        
    }
    &__selects {
        display: flex;
        flex-direction: column;
        width: 65%;
        &-help {
            margin-top: 2rem;
            position: relative;
        }
        &-help::before {
            content: "";
            position: absolute;
            background: url(../icons/dashed_arrow_up_icon.png);
            background-size: contain;
            top: -2rem;
            left: 43%;
            width: 5.5rem;
            height: 2.5rem;
        }
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__btn {
        &_forward {
            &-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
            }
            &-help {
                border-radius: .3rem;
                background: #fff;
                box-shadow: 0 0 2rem 0 $dark_grey;
                padding: .5rem 1rem;
                position: relative;
                margin-bottom: 1rem;
                opacity: 1;
                
                &:before {
                    content: '';
                    position: absolute;
                    background: #fff;
                    box-shadow: 0 0 2rem 0 $dark_grey;
                    left: 50%;
                    bottom: -.2rem;
                    width: .5rem;
                    height: .5rem;
                    transform: rotate(45deg);
                }
                
            }
        }
        &_forward > span{
            margin-left: 1rem;
        }
        &_back {
            opacity: 1;
        }
        
    }

    &__aside {
        position: absolute;
        top: 1.3rem;
        left: 0;
        z-index: 2;
    }
}
.aside {
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    &__info {
        padding: 1.5rem 2rem;
        width: 100%;
        background: url(../img/background_manager.png) center center / cover no-repeat;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        position: relative;

        
    }
    &__leaves {
        position: absolute;
        top: -2.5rem;
        left: -4rem;
        width: 9rem;
    }

    &__online {
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: $white;
        background: $green;
        padding: .5rem .5rem .5rem 1rem;
        border-radius: .4rem;

        &_circle {
            position: absolute;
            top: .67rem;
            left: .45rem;
        }

    }

    &__photo {
        width: 70%;
        margin: 0 auto;
    }
    &__pseudo-btn {
        width: 80%;
        margin: -1rem auto .5rem auto;
        background-color: $blue;
        padding: .4rem 1rem;
        border-radius: .2rem;
        transform: skewX(-5deg);
        color: $white;
    }
    &__text {
        margin-top: 1.5rem;
        background: $white;
        border-radius: .3rem;
        padding: .5rem;
        position: relative;
        z-index: 2;
        &:before {
            content: '';
            position: absolute;
            background: $white;
            left: 45%; 
            top: 0;
            width: 2rem; 
            height: 2rem;
            z-index: -1; 
            transform: rotate(45deg); 
        }
    }

    &__buttons {
        width: 100%;
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &_title {
            text-transform: uppercase;
        }

    }
    &__button {
        width: 85%;
        margin-top: 1rem;
        color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem 1rem 3rem;
        border-radius: .5rem;
        cursor:no-drop;
        position: relative;

        & > img {
            width: 1rem;
        }

    }
    &__button1 {
        background: url(../img/background_button_top.png);
        background-size: cover;
    }
    &__button2 {
        background: url(../img/background_button_middle.png);
        background-size: cover;
    }
    &__button3 {
        background: url(../img/background_button_bottom.png);
        background-size: cover;
    }

}

.quiz__content6 .quiz__selects,
.quiz__content5 .quiz__selects,
.quiz__content2 .quiz__selects {
    flex-direction: row;
    flex-wrap: wrap;
}


.quiz__content5 .quiz__selects,
.quiz__content2 .quiz__selects {
        
    &-help::before {
        left: 70%;
    }
}

.quiz__content6 .quiz__selects {
        
    &-help::before {
        left: 80%;
    }
}

.quiz__content2 .quiz__selects > div {
    margin-right: 2.5rem;
    margin-top: 1.2rem;
}

.gift__sticker {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: .1rem 5rem 5rem 5rem;
    padding: .3rem .5rem;
    margin-bottom: .6rem;
}

.gift__sticker > img{
    width: 1rem;
    margin-right: .4rem;
}

.gift__sticker > span{
    text-align: left;
}

.gift__sticker-violet {
    background: linear-gradient(to right, #5c44a2, #8f69c3);
}
.gift__sticker-green {
    background: linear-gradient(to right, #1c901a, #06ab1b);
}
.gift__sticker-orange {
    background: linear-gradient(to right, #ea5203, #f9a40d);
}
.gift__sticker-blue {
    background: linear-gradient(to right, #0d409d, #0d409d);
}
.gift__sticker-red {
    background: linear-gradient(to right, #cc1e07, #f33134);
}
