
.quiz__selects {
    

    & input[type="radio"] {
        display: none;
        &:not(:disabled) ~ label {
        cursor: pointer;
        }
        &:disabled ~ label {
        color: $dark_grey;
        border-color: $dark_grey;
        cursor: not-allowed;
        }
        
    }

    & label {
        width: 20rem;
        display: block;
        border: .1rem solid $dark_grey;
        border-radius: 0.3rem;
        padding: 1.3rem 1.3rem 1.3rem 4rem;
        margin-bottom: 1.2rem;
        font-size: 1.2rem;
        position: relative;
        transition: all .4s;

        &:hover {
            box-shadow: 0 0.6rem 3rem $dark_grey;
        }
    }

    

    & input[type="radio"] + label {
        &::before {
            content: "";
            background: url(../icons/success_disable_icon.png);
            background-size: contain;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 1rem;
            height: 2.7rem;
            width: 2.7rem;
        }
    }
    & input[type="radio"] + label.pressure {
        &::before {
            
            top: 22%;
        }
    }

    & input[type="radio"]:checked + label {
        border: .1rem solid $green;
        
        position: relative;
            &::before {
                content: "";
                background: url(../icons/success_icon.png);
                background-size: contain;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 1rem;
                height: 2.7rem;
                width: 2.7rem;
            }
    }
    & input[type="radio"]:checked + label.pressure {
            &::before {
                
                top: 22%;
                
            }
    }
    & input[type="radio"]:checked + label > span {
        font-weight: 700;
    }
}  

.less label {
    font-size: 1rem;
}
.input_help {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top: -1.3rem;
    right: 1rem;
    cursor: pointer;
    transition: all .4s;
    z-index: 1;

    &-text {
        font-size: 0.6rem;
        opacity: 0;
        min-width: 7rem;
        border-radius: .3rem;
        background: #fff;
        box-shadow: 0 0 2rem 0 #d3d5d5;
        padding: .4rem .4rem;
        position: absolute;
        top: -1.5rem;
        right: 2rem;
        text-align: center;
        z-index: -1;
    }

    &:hover {
        transform: scale(1.1);
    }
    &:hover .input_help-text {
        opacity: .9;
    }

    & > img {
       z-index: 3; 
    }
}

// screen 5 start
.label_custom {
    span {
        display: block;
        position: absolute;
        padding-left: 2rem;
        margin-top: .4rem;
    }
}
.quiz__selects {

    & input[type="radio"]:checked + label.label_custom::before,
    & input[type="radio"] + label.label_custom::before {
        top: 97%;
        left: 0;
    }
    & input[type="radio"]:checked + label.label_custom-dbl::before,
    & input[type="radio"] + label.label_custom-dbl::before { 
        top: 105%;
        left: 0;
    }
    & label.label_custom {
        border: none;
    }
    & input[type="radio"]:checked + label.label_custom {
        border: none;
        
    }   

    & input[type="radio"]:checked + label.label_custom > img {
        border: .1rem solid $green;
        border-radius: .3rem;
    }  
    & label.label_custom {
        width: 10rem;
        padding: 0;
        margin-bottom: 4rem;
        margin-right: 2rem;
    }

    & label.label_custom > img {
        width: 100%;
        height: 100%;
    }

    & > div {
         position: relative;
    }
    
    
}
// screen 5 end

// screen 6 start
.label_gift {
    margin-right: 1.5rem;
    span {
        display: block;
        position: absolute;
        bottom: -1.7rem;
        left: 2.1rem;
    }
    span.dbl_line {
        bottom: -2.1rem;
    }
}
.quiz__selects {

    & input[type="radio"]:checked + label.label_gift::before,
    & input[type="radio"] + label.label_gift::before {
        top: 103%;
        left: 0;
    }
    
    & label.label_gift > img {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    & label.label_gift {
        width: 10rem;
        min-height: 12.5rem;
        padding: 1rem .5rem;
    }
}
// screen 6 end

// screen 2 start

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}

  
.quantity_inner {
    min-width: 11rem;
    display: flex;
    height: 3.5rem;
    justify-content: space-between;
    align-items: center;
    background: $grey;
    border-radius: .3rem;
    padding-right: 1rem;
    padding-left: 1rem;
} 
.quantity_inner .bt_minus,
.quantity_inner .bt_plus {
    font-size: 1.2rem;
    height: 1.6rem;
    width: 1.6rem;
    background: $white;
    border-radius: 50%;
    font-weight: 500;
}       
.quantity_inner .bt_minus,
.quantity_inner .bt_plus,
.quantity_inner .quantity {
    border: 0;
    margin: 0;
    cursor: pointer;
    outline: 0;
    
}
.quantity_inner .quantity {
    // height: 2.5rem;
    width: 3.5rem;
    text-align: center;
    font-size: 1.8rem;
    background: transparent;
}

.quiz__select {
    &-name {
        font-size: 1rem;
        margin-bottom: 0.5rem;

        & > img {
            height: 1.2rem;
            margin-right: 0.5rem;
        }
    }
}
// screen 2 end

@media (max-width: 786px) {
    .quiz__selects {
        & label.label_custom,
        & label.label_gift {
            width: 12rem;
        }

        &_outer {
            width: 90%;
            & label {
                width: 100%;
            }
        }
    }
    .quiz__select {
        &-name {
            font-size: .9rem;
        }
    }
}
@media (max-width: 576px) {
    .quantity_inner {
        height: 4rem;
    }
    
}
@media (max-width: 420px) {
    .quantity_inner {
        min-width: 0;
        height: 3.5rem;

        & .bt_minus,
        & .bt_plus {
            font-size: 1.5rem;
            height: 2rem;
            width: 2rem;
        }
    }
    .quiz__select {
        &-name {
            // font-size: .9rem;
    
            & > img {
                height: 1.1rem;
                margin-right: 0.2rem;
            }
        }
    }
    
}
