.side__bar_wrapper {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 3;
}
.side__bar {
    font-size: 0.6rem;
    background-image: linear-gradient(to bottom, #70ec69, #39c23f);
    color: white;
    text-transform: uppercase;
    padding-top: 1.2rem;
    padding-bottom: .9rem;
    border-radius: .5rem 0 0 .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: no-drop;
    transition: all .4s;
    letter-spacing: .05rem;

    &_item {
        position: relative;
        width: 100%;
        min-width: 5rem;
        padding-right: .5rem;
        padding-left: .5rem;
        line-height: 1.4;

        &::after {
            content: "";
            position: absolute;
            width: 1rem;
            height: 1.4rem;
            background: url(../icons/locker_icon.png);
            background-size: contain;
            top: .5rem;
            right: 1.6rem;
        }

        & > img {
            width: 1.5rem;
            margin-top: 1rem;
            margin-bottom: 0.2rem;

        }
        &:not(:last-child) {
            padding-bottom: .5rem;
            border-bottom: .1rem solid $white;
        }
    }

    &_toggle {
        border-radius:50%;
        background: $white;
        width: 1.3rem;
        height: 1.3rem;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -0.6rem;
        left: 50%;
        transform: translateX(-50%);
        transition: all .4s;
        z-index: 2;

        &::before {
            content:'';
            position: absolute;
            border-radius: 50%;
            background:$green;
            width: 80%;
            height: 80%;

        }
        &::after {
            content:"×";
            position: absolute;
            color: $white;
            font-size: .9rem;
        }
        &:hover {
            transform: translateX(-50%) scale(1.1);
        }
    }

}

.hidden .side__bar {
    transform: translateX(110%);
}
.hidden .side__bar_toggle::after {
    content: "<";
}

@media (max-width: 992px) {
	
    .side__bar_wrapper {
        display: none;
    }
}