@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
  
    100% {
        transform: rotate(360deg)
    }
}
  
@keyframes flare {
    0% {
        left: -3rem;
        margin-left: 0;
    }
    30% {
        left: 110%;
        margin-left: 8rem;
    }
    100% {
        left: 110%;
        margin-left: 8rem;
    }
}

@keyframes progress_bar {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 100rem 0;
	}
}

// @keyframes knock {
//     0%, to {
//         top: calc(100% + 80px);
//     }
//     50% {
//         top: calc(100% - 5px);
//     }
//     display: block;
//     opacity: .67;
//     border-radius: 10px;
//     border-top: 2px solid;
//     padding-top: 40px;
//     top: calc(100% + 80px);
//     position: absolute;
//     width: 890px;
//     left: calc(50% - 445px);
//     transition: .2s linear;
// }