* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Stolzl', sans-serif;
    font-weight: 400;
}

html {
    font-size: 1vw;
}

body {
    font-size: 1vw;
    line-height: 1.2;
    color: $black;
    background-color: #fff;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
a,
button{
	outline: 0;
	border: none;
	cursor: pointer;
}
a {
	text-decoration: none;
    display: inline-block;
}
ul,
li {
	list-style-type: none;
	margin: 0;
	padding: 0;

}
address {
	font-style: normal;
}
img {
	max-width: 100%;
	height: auto;
}

input {
    border: none;
    outline: none;
    font-size: 1rem;
}

form button {
    font-size: 0.9rem;
}

.container {
    max-width: 73rem;
    margin: 0 auto;
}

.container_large {
    max-width: 82rem;
    margin: 0 auto;
}



.center {
	display: block;
	margin: 0 auto;
}
.no_opacity {
    opacity: 0;
}
.circle {
    width: .3rem;
    height: .3rem;
    border-radius: 100%;
}
.circle_green {
    background: $green;
}

.circle_white {
    background: $white;
}

.fw900 {
    font-weight: 900;
}
.fw700 {
    font-weight: 700;
}
.fw500 {
    font-weight: 500;
}
.fw300 {
    font-weight: 300;
}
.fw100 {
    font-weight: 100;
}
.fz30 {
    font-size: 2.2rem;
}
// .fz24 {
//     font-size: 1.5rem;
// }
.fz20 {
    font-size: 1.5rem;
}
.fz18 {
    font-size: 1.2rem;
}
.fz14 {
    font-size: 1rem;
}
.fz13 {
    font-size: .9rem;
}

.fz10 {
    font-size: .75rem;
}
.fz8 {
    font-size: .6rem;
}

.mrs {
	margin-right: .8rem;
}
.mr {
	margin-right: 1.5rem;
}
.mrl {
    margin-right: 3.5rem;
}
.mbs,
.mbm {
	margin-bottom: .5rem;
}
.mb {
	margin-bottom: .8rem;
}
.pll {
	padding-left: 1.5rem;
}
.ttu {
    text-transform: uppercase;
}
.fcb {
    color: $blue;
}
.hide {
    display: none!important;
}

@media (max-width: 992px) {
	html {
		font-size: 14px;
	}
	.container {
        max-width: 90vw;
    }

}


