.btn-small {
    width: 7rem;
    height: 2.4rem;
    border-radius: .5rem;
    background-color: $white;
    transition: all .4s;
}
.btn-small:hover {
    text-decoration: underline;
    box-shadow: 0px 1rem 1.5rem 0 rgba($black, 0.25);

}
.btn-small:hover img {
    transform: scale(1.1);

}

.btn_large {
    width: 31rem;
    height: 6rem;
    border-radius: 5rem;
    box-shadow: 0px 1rem 1.5rem 0 rgba(4, 179, 25, 0.25), inset 0 0 2.5rem 0 rgba(151, 215, 146, 0.71);
    background-image: linear-gradient(90deg, #31ca3c 0%, #7ef178 50%, #31ca3c 100%);
    color: $white;
    transition: all .4s;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.btn_large:hover {
    box-shadow: 0 0.4rem 1.5rem #31ca3c;
}

.btn-flare:after {
    content: "";
	position: absolute;
    width: 2rem;
    height: 25rem;
    background: #fff;
    left: -3rem;
    top: -10rem;
	transition: all 0.2s;
	transform: rotate(45deg);
	animation-name: flare;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}

.button {
    &__arrow {
        width: .5rem;
        &-small {
            width: .35rem;
        }
    }
    &__arrows {
        width: 2rem;
    }
}

// .btn__close {
//     border-radius:50%;
//     background: $white;
//     width: 2.5rem;
//     height: 2.5rem;
//     color: $dark_grey;
//     font-size: 1.5rem;
//     transition: all .4s;
    
//     &:hover {
//         transform: scale(1.1);
//         box-shadow: 0 0.4rem 1rem $grey;
//     }
// }

.btn__forward {
    width: 10rem;
    height: 2.7rem;
    border-radius: 5rem;
    box-shadow: 0px 1rem 1.5rem 0 rgba(4, 179, 25, 0.25), inset 0 0 2.5rem 0 rgba(151, 215, 146, 0.71);
    background-image: linear-gradient(90deg, $green 0%, $green_light 50%, $green 100%);
    color: $white;
    transition: all .4s;
    position: relative;
    overflow: hidden;
    cursor: not-allowed;
}

.btn__back {
    width: 5rem;
    height: 2.7rem;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
          
}

.pseudo-btn_long {
    display: inline-block;
    background-color: #fce37e;
    padding: .6rem 1.4rem;
    border-radius: .3rem;
    transform: skewX(-5deg);
}

.pseudo-btn_descr {
    
    display: inline-block;
    background-color: $white;
    padding: .3rem 1.2rem;
    border-radius: .2rem;
    transform: skewX(-5deg);
}
span.pseudo-btn_inner {
    display: inline-block;
    transform: skewX(5deg);
}


@media (max-width: 992px) {
	
    .pseudo-btn_long {
        padding: .5rem 2rem;
        font-size: 1rem;
    }
    
    
}
// @media (max-width: 786px) {
// 	.btn__close {
//         background-image: linear-gradient(to bottom, #53bded, #0581ca);
//         width: 3rem;
//         height: 3rem;
//     }
        

// }
@media (max-width: 576px) {
	
    .pseudo-btn_long {
        padding: .5rem 2rem;
    }
    .btn_large {
        width: 85vw;
    }
    
}
@media (max-width: 420px) {
	
    .pseudo-btn_long {
        font-size: 12px;
        text-align: center;
    }
    .btn_large {
        width: 95vw;
    }
    
    
}