.quiz__content1 + .progress-bar .progress-bar__line {
    width: 15%;
}
.quiz__content2 + .progress-bar .progress-bar__line {
    width: 25%;
}
.quiz__content3 + .progress-bar .progress-bar__line {
    width: 50%;
}
.quiz__content4 + .progress-bar .progress-bar__line {
    width: 65%;
}
.quiz__content5 + .progress-bar .progress-bar__line {
    width: 85%;
}
.quiz__content6 + .progress-bar .progress-bar__line {
    width: 99%;
}

