.titleH1 {
    font-size: 2.5rem;
    font-weight: 900;
}

.titleH2 {
    font-size: 1.5rem;
    line-height: 1.3;
}
.titleH3 {
    font-size: 1.2rem;
}
@media (max-width: 992px) {
	
    .titleH1 {
        font-size: 2rem;
    }
}

@media (max-width: 420px) {
	
    .titleH1 {
        font-size: 1.6rem;
    }
    // .titleH2 {
    //     font-size: 1.4rem;
    // }
}